# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment & Temp
.env
.venv
env/
venv/
ENV/
*.log

# System files
.DS_Store
Thumbs.db

# Vercel & Node local files
.vercel
node_modules/
server.js
package.json
package-lock.json
api/
operator_stats.json
